
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.checkoutP{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: auto;
}

.flex-box{
    text-align: center;
    align-items: center;
    width: 250px;
    height: auto;
    margin:0px 10px;
    box-shadow: 5px 5px 5px 6px rgb(221, 233, 237);
}

.landing{
    margin: 0px 10px;
    width: 1500px;
    height: 100px;
    box-shadow: 10px 10px 5px 12px  rgb(221, 233, 237);
}

.productImg{
    width: 100px;
    height: 100px;
}

p{
    padding: 10px;
    text-align: justify;
    font-size: x-small;
}

.mainBtn{
    border-radius: 5px;
    font-weight: bold;
}


.mainBtn:hover{
    background-color: rgb(195, 112, 29);
    color: bisque;
    
}


h4:hover{
    text-transform: uppercase;
}

p:hover{
    color: rgba(26, 29, 26, 0.687);
}

.subTotal{
    display: flex;
    color: red;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    margin-top: 300px;
    margin-left: 150px;
}
.clearBtn{
    color: none;
}
.chkAdd{
    text-align: center;
    background-color: rgba(0, 128, 0, 0.519);
    border: none;
    border-radius: 2px;
    margin: 10px;
}

.chkRemove{
    text-align: center;
    background-color: rgba(179, 27, 27, 0.571);
    border: none;
    border-radius: 2px;
    margin: 10px;
    
}
.navWrapper{
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-start;
    padding: 10px 10px;
}

.navList{
    margin: 0px 10px;
   text-decoration: none;
    font-size: 16px;
}

.navList:hover{
    text-transform: uppercase;
    text-decoration: underline;
    
}


@media screen and (max-width: 700px) {
    .navList{
        font-size: x-small;
    }
    .flex-box{
        width: 150px;
        height: auto;
        margin: 0px;
    }
    .productImg{
        width: 40px;
        height: 40px;
    }

    p{
        font-size: xx-small;
    }

}

@media screen and (max-height: 450px) {
    .navList{
        font-size: x-small;
    }
    .flex-container{
        text-align: center;
    }
    .flex-box{
        width: 150px;
        height: auto;
        margin: 0px;
    }
    .productImg{
        width: 40px;
        height: 40px;
    }

    p{
        font-size: xx-small;
    }
}