.navWrapper{
    display: flex;
    float: right;
    padding: 10px 20px;
}

.navList{
   display: flex;
   margin-left: 20px;
   text-decoration: none;
    font-size: 16px;
}

.navList:hover{
    text-transform: uppercase;
    text-decoration: underline;
    
}

@media screen and (max-width: 700px) {

    .navWrapper{
        display: flex;
        flex-direction: column;
    }
}
